<template lang="pug">
transition(name="fade")
  .sidemenu__mask(v-if="openSideMenu")
    .sidemenu__drawer
      .sidemenu__close(@click="closeSideMenu")
      .sidemenu__item(v-for="node of menuList") {{ node.label }}
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SideMenu',

  computed: {
    ...mapState([
      'openSideMenu'
    ]),
  },

  data () {
    return {
      menuList: [
        { label: "Menu Item 1", path: '' },
        { label: "Menu Item 2", path: '' },
        { label: "Menu Item 3", path: '' },
      ]
    }
  },

  methods: {
    closeSideMenu () {
      this.$store.commit('SET_SIDE_MENU', false)
    }
  },
}
</script>

<style lang="scss" scoped>
  @import "./style";
</style>

