@import "@/assets/scss/color.scss";

.sidemenu {
  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
  }

  &__drawer {
    padding: 30px;
    width: 200px;
    height: 100vh;
    background-color: $primary;

    @media (min-width: 426px) {
      width: 400px;
      padding: 30px 50px;
    }
  }

  &__close {
    margin-bottom: 40px;
    width: 30px;
    height: 30px;
    background: url('./images/close.svg') no-repeat center center /contain;
    cursor: pointer;

    @media (min-width: 1025px) {
      width: 40px;
      height: 40px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 20px;
    color: $content;
  }
}
