<template lang="pug">
.home
  .home__container
    .home__table
      .table__lead
      .table__list
        .table__item(v-for="node of 6")
</template>

<script>
export default {
  name: 'Home',
}
</script>

<style lang="scss" scoped>
  @import "./style";
</style>
