@import "@/assets/scss/color.scss";

.home {
  &__container {
    padding: 40px;
  }

  &__table {
    display: flex;
    gap: 20px;
  }
}

.table {
  &__lead {
    flex: 0 0 400px;
    height: 400px;
    background-color: $content;
    border-radius: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__item {
    width: 100%;
    height: 60px;
    background-color: $content;
    border-radius: 5px;
  }
}
