<template lang="pug">
.header
  .header__container
    img.header__side__menu(:src="require('./images/side-menu.png')"  @click="toggleSideMenu()")
    .search__container
      input.search__input(:placeholder="'Search'" v-model="searchName")
      transition(name="fade")
        .search__result(v-if="searchName && showResult.length > 0")
          .search__item(v-for="node of showResult") {{ node }}
  SideMenu
</template>

<script>
import SideMenu from '../side-menu/index.vue'

export default {
  name: 'Header',

  components: {
    SideMenu
  },

  data () {
    return {
      nameList: [
        'Alex',
        'Adrew',
        'Ben',
        'Banny',
        'Charles',
        'Chris',
        'Doe',
        'Daryl'
      ],
      searchName: '',
    }
  },

  computed: {
    showResult () {
      var result =[]
      for (let name of this.nameList) {
        if (name.toLowerCase().match(this.searchName.toLowerCase())) {
          result.push(name)
        }
      }
      return this.searchName ?  result : []
    },
  },

  methods: {
    toggleSideMenu () {
      this.$store.commit('SET_SIDE_MENU', true)
    },
  },
}
</script>

<style lang="scss" scoped>
  @import "./style";
</style>