@import "@/assets/scss/color.scss";

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    max-width: 100%;
    height: 60px;
    background-color: $primary;

    @media (min-width: 426px) {
      padding: 20px 40px;
    }
  }

  &__side__menu {
    width: 40px;
    height: 40px;
    cursor: pointer;

    @media (min-width: 426px) {
      width: 60px;
      height: 60px;
    }
  }
}

.search {
  &__container {
    position: relative;
  }

  &__input {
    padding: 15px 20px;
    width: 150px;
    height: 100%;
    font-size: 20px;
    border-radius: 15px;
    color: $search-txt;
    background-color: $search-box;
    border: none;

    @media (min-width: 426px) {
      width: 400px;
    }

    &::placeholder {
      color: $search-txt;
    }
  }

  &__result {
    position: absolute;
    margin-top: 15px;
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    background-color: $light;
    box-shadow: 1px 4px 4px hsl(0deg 0% 0% / 0.3);

    @media (min-width: 426px) {
      width: 400px;
    }
  }

  &__result:after,
  &__result:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  &__result:before {
    border-color: transparent;
    border-bottom-color: $light;
    border-width: 10px;
    left: 20%;
    margin-left: -10px;

    @media (min-width: 426px) {
      left: 10%;
    }
  }

  &__item {
    padding: 0 20px;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid $content;

    &:last-child {
      border-bottom: none;
    }
  }
}
