<template lang="pug">
body
  Header
  Home
</template>

<script>
import Header from './components/header/index.vue'
import Home from './pages/home/index.vue'

export default {
  name: 'App',

  components: {
    Header,
    Home,
  },
}
</script>

<style lang="scss">
  @import "./assets/scss/style.scss";
</style>
